html{
    font-family: 'Nunito';
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

#container {
    background: #141c3a;
    margin: 0;
    display: block;
    float: left;
    width: 100vw;
    height: 100vh;
}

#view-button {
    width: 380px;
    height: 50px;
    font-size: 24px;
    border: none;
    display: block;
    background-color: #6df0c2;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: 'Nunito';
}

#codey {
    display: none;
    width: 200px;
    margin: 0 auto;
}

#close-button {
    width: 380px;
    height: 50px;
    font-size: 24px;
    border: none;
    display: none;
    background-color: #fd4d3f;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Nunito';
}

#projects-list{
    display: none;
    width: 33%;
    margin: 0 auto;
    color: white;
    /* font-family: 'Nunito'; */
}

#projects-list p{
    font-size: 1.8rem;
    text-align: center;
    margin-block-start: 1.3em;
}

#projects-list li{
    font-size: 1.2rem;
    padding: 10px 0px;
}

#projects-list a{
    color: rgb(236 236 161);
}

#projects-list a:active{
    color: red;
}

#projects-list a:hover{
    background-color: rgba(240, 255, 255, 0.24);
}
